Source: libdisplaycore-driver-sh1106-bbspi
Section: libraries
XBSC-Family: pic32
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libdisplaycore-driver-sh1106-bbspi
Section: libraries
Architecture: all
XBSC-Group: DisplayCore
XBSC-Subgroup: Drivers
Depends: libdisplaycore-driver-sh1106
Provides: SH1106-UL-BBSPI.h
Description: SH1106 Bit-banged SPI library
 This is the bit-banged SPI implementation of the SH1106 OLED driver.



